* {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

#event-name {
	animation: ChangeColorText 3s infinite;
}

.emphrase-text {
	animation: ChangeColorText 0.5s infinite;
}

#instruction {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	text-align: justify;
	padding: 5px 10px 20px 10px;
	border-bottom: 2px solid white;
}

.btn {
	padding: 10px;
	background: lightblue;
	outline: none;
	animation: ChangeColorText 0.5s infinite;
	border-radius: 10px;
	border: 3px solid white;
	cursor: pointer;
}

.btn:hover {
	background: black;
}

#button-open-form {
	display: block;
	text-align: center;
	margin: 10px auto;
}

#test-form {
	display: none;
	width: 640px;
	margin: 0 auto;
}

#countdown {
	padding: 10px 0px;
	text-align: center;
}

#reminder-tab {
	display: none;
	position: fixed;
	text-align: center;
	color: white;
	border-radius: 20px;
	background: blue;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: OpenZoomTab 0.5s 1;
	width: 300px;
	height: 180px;
	border: 2px solid white;
}


#cancel-tab {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 200px;
	background: #CCC;
}

#_form {
	width: 640px;
	height: 672px;
}

@media only screen and (max-width: 650px) {
	#event-name {
		font-size: 18px;
	}

	#test-form {
		width: 320px;
	}

	#_form {
		width: 320px;
	}
}

#check-width {
	display: none;
	padding-top: 50px;
	text-align: center;
	animation: ChangeColorText 1s infinite;
}

@media only screen and (max-width: 318px) {
	.main {
		display: none;
	}
	#check-width {
		display: block;
	}
}

@keyframes OpenTab {
	from {opacity: 0.0;}
	to {opacity: 1.0;}
}

@keyframes OpenZoomTab {
	from {width: 220px; height: 100px;}
	to {width: 300px; height: 180px;}
}

@keyframes ChangeColorText {
	0% {color: #3399FF;}
	10% {color: #3399CC;}
	25% {color: #339999;}
	50% {color: #339966;}
	75% {color: #339999;}
	90% {color: #3399CC;}
	100% {color: #3399FF;}
}